In [1]:
# import required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# use .get method to get data from url
url = 'https://thefishy.co.uk/leaguetable.php?table=1&season=15'
page = requests.get(url)

# check response code, should be 200 for successful connection
print(page.status_code)

200

In [5]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   2017-2018 Premier League Table
  </title>
  <meta content="fishy, league, table, football, premier, championship, league one, league two, National League, spl" name="keywords"/>
  <meta content="The 2017-2018 Premier League Table showing the record of every team in the tournament throughout the season" name="description"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="block-all-mixed-content" http-equiv="Content-Security-Policy">
   <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
   <meta content="utf-8" http-equiv="encoding"/>
   <link href="https://thefishy.co.uk/leaguetable.php?table=1&amp;season=15" rel="canonical"/>
   <script async="" src="https://www.googletagmanager.com/gtag/js?id='UA-40493297-1">
   </script>
   <script>
    window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-40493297-1');
   </script>
   <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="//cdn.thefishy.co.uk/css/bootstrap-cust.min.css" rel="stylesheet" type="text/css"/>
   <link href="//cdn.thefishy.co.uk/css/navbar.css" rel="stylesheet" type="text/css"/>
   <link href="//cdn.thefishy.co.uk/css/fishy3.min.css" rel="stylesheet" type="text/css"/>
   <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
    </script>
    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript">
    </script>
    <script type="text/javascript">
     (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8888741632944685",
    enable_page_level_ads: true
  });
    </script>
    <script src="/js/compliance.js" type="text/javascript">
    </script>
    <script async="" defer="" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" type="text/javascript">
    </script>
    <style>
     tr.tableline td {
            border-bottom: 1px solid black !important;
        }
    </style>
   </link>
  </meta>
 </head>
 <body>
  <div class="container">
   <div id="content">
    <script src="//cdn.thefishy.co.uk/js/fishy.js" type="text/javascript">
    </script>
    <div class="nomobile">
     <table border="0" cellpadding="1" cellspacing="1" class="story2 width100pc">
      <tr>
       <td class="story" colspan="3">
        <table class="width100pc">
         <tr>
          <td width="350">
           <a href="/home.php" target="_top">
            <img alt="The Fishy - Grimsby Town FC" border="0" height="129" src="//cdn.thefishy.co.uk/images/gif/20080311001.gif" width="260"/>
           </a>
           <!-- 20101128001 -->
          </td>
          <td valign="top">
           <div>
            <!-- Leaderboard -->
            <ins class="adsbygoogle" data-ad-client="ca-pub-8888741632944685" data-ad-slot="9590514884" style="display:inline-block;width:728px;height:90px">
            </ins>
            <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
           </div>
          </td>
         </tr>
         <tr>
          <td colspan="2">
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
     <hr class="width100pc"/>
    </div>
    <div class="navbar navbar-inverse" role="navigation">
     <div class="container-fluid">
      <div class="navbar-header">
       <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">
         Toggle navigation
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
       </button>
       <span class="mobile">
        <a class="navbar-brand brand-name pull-left" href="/home.php">
         <img alt="The Fishy" src="//cdn.thefishy.co.uk/images/logo.png"/>
        </a>
       </span>
      </div>
      <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
        <li>
         <a href="home.php">
          Home
         </a>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="/football-season.php">
          Football
          <span class="caret">
          </span>
         </a>
         <ul class="dropdown-menu" role="menu">
          <li role="presentation">
           <a href="/football-season.php" title="The current football season home page">
            Football Season Home
           </a>
          </li>
          <li role="presentation">
           <a href="/livescores.php" title="The latest football scores from around the world">
            Latest Scores
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/leaguetable.php" title="The current English, Scottish and European tables">
            League Tables
           </a>
          </li>
          <li role="presentation">
           <a href="/formtable.php" title="Mini league tables over the last six games in the various divisions.">
            Form Tables
           </a>
          </li>
          <li role="presentation">
           <a href="/top-scorers.php" title="The current English, Scottish and European football teams">
            Top Scorers
           </a>
          </li>
          <li role="presentation">
           <a href="/teams.php" title="The top goal scorers in each football competition">
            Teams
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/football-fixtures.php" title="Upcoming league and cup football fixtures from across the world">
            Fixture Lists
           </a>
          </li>
          <li role="presentation">
           <a href="/nextweeksfixtures.php" title="All the fixtures around the country, Europe and the world for the next 7 days">
            Next Week's Fixtures
           </a>
          </li>
          <li role="presentation">
           <a href="/calendar2.php" title="Football fixture ICAL calendars">
            Football Fixture Calendars
           </a>
          </li>
          <li role="presentation">
           <a href="/football-results.php" title="Previous football results">
            Football Results
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/football-calculator.php" title="See what the final league tables might look like">
            Football League Calculator
           </a>
          </li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="/News.php">
          Grimsby Town
          <span class="caret">
          </span>
         </a>
         <ul class="dropdown-menu" role="menu">
          <li role="presentation">
           <a href="/news.php" title="All news stories which have appeared on the site">
            News Index
           </a>
          </li>
          <li role="presentation">
           <a href="/features.php" title="All features which have appeared on the site">
            Features Index
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503375" title="Book about the 2017-2018 Grimsby Town season">
            To Hell and Back Book
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/season.php" title="Home page for the current season">
            Season Home
           </a>
          </li>
          <li role="presentation">
           <a href="/fixtures.php" title="Grimsby Town results and fixtures for the current season">
            Fixture List
           </a>
          </li>
          <li role="presentation">
           <a href="/squad.php" title="Profiles of all the current Grimsby squad and ex-players">
            Squad
           </a>
          </li>
          <li role="presentation">
           <a href="/selectmatch.php" title="Enter your own player ratings">
            Player Ratings
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/team-fixtures.php?table=4" title="Fixtures across League Two">
            League Two Fixtures
           </a>
          </li>
          <li role="presentation">
           <a href="/team-results.php?table=4" title="Fixtures across League Two">
            League Two Results
           </a>
          </li>
          <li role="presentation">
           <a href="/leaguetable.php?table=4" title="The current Grimsby Town league table">
            League Two Table
           </a>
          </li>
          <li role="presentation">
           <a href="/calculator0.php?Competition=4" title="See what the final League Two table might look like">
            League Two Calculator
           </a>
          </li>
          <li role="presentation">
           <a href="/top-scorers.php?table=4" title="Top goal scorers across League Two">
            League Two Top Scorers
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/reservefixtures.php" title="All the results and reports from second string fixtures.">
            Reserve Fixtures
           </a>
          </li>
          <li role="presentation">
           <a href="/youthfixtures.php" title="All the results from Town's young guns' fixtures.">
            Youth Fixtures
           </a>
          </li>
          <li role="presentation">
           <a href="/ladiesfixtures.php" title="All the results from Town's female players' fixtures.">
            Ladies Fixtures
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503412" title="All the vital statistics from the club's playing staff">
            Squad Statistics
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503413" title="The top goal scorers for the season">
            Top Scorers
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503408" title="Every player's contribution to the Mariners points during the season">
            The Bread-Winners
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503409" title="How many minutes each player clocked up on the pitch, together with the Average Weighted Points Contribution (AWPC) of each squad member">
            Player Stopwatch
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503410" title="The average number of minutes between each player's goals when they are on the pitch">
            Minutes Per Goal
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503411" title="Ranges of minutes in which Grimsby Town both concede and score goals">
            When Goals Occur
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/resultsdb.php" title="Complete set of Grimsby Town results">
            Results Database
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8056267" title="Town's average rating against all the opposing teams">
            Opposition Ladder
           </a>
          </li>
          <li role="presentation">
           <a href="/topresults.php" title="Record-scoring games that Grimsby Town have been involved in">
            Results Records
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/story.php?id=7952809" title="Grimsby Town Football Club Information">
            Club Home
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=7950008" title="Info on the Mariners' home">
            Blundell Park Information
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/season.php?season=15" title="Pages from the 2016-2017 Season">
            2017-2018 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/season.php?season=14" title="Pages from the 2016-2017 Season">
            2016-2017 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/season.php?season=13" title="Pages from the 2015-2016 Season">
            2015-2016 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/season.php?season=12" title="Pages from the 2014-2015 Season">
            2014-2015 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/season.php?season=11" title="Pages from the 2013-2014 Season">
            2013-2014 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/season.php?season=10" title="Pages from the 2012-2013 Season">
            2012-2013 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8501839" title="Pages from the 2011-2012 Season">
            2011-2012 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8501473" title="Pages from the 2010-2011 Season">
            2010-2011 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8500968" title="Pages from the 2009-2010 Season">
            2009-2010 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8500271" title="Pages from the 2008-2009 Season">
            2008-2009 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8447687" title="Pages from the 2007-2008 Season">
            2007-2008 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8414421" title="Pages from the 2006-2007 Season">
            2006-2007 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8384007" title="Pages from the 2005-2006 Season">
            2005-2006 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8352077" title="Pages from the 2004-2005 Season">
            2004-2005 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8311681" title="Pages from the 2003-2004 Season">
            2003-2004 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8265843" title="Pages from the 2002-2003 Season">
            2002-2003 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8140102" title="Pages from the 2001-2002 Season">
            2001-2002 Season
           </a>
          </li>
          <li role="presentation">
           <a href="/story.php?id=8001739" title="Pages from the 2000-2001 Season">
            2000-2001 Season
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/fishyrss.php" title="Get the latest Grimsby stories from the Fishy in your news reader">
            News Feed
           </a>
          </li>
          <li role="presentation">
           <a href="//forum.thefishy.co.uk/Blah.pl?v-shownews/a-feed/b-dr/" title="The burning issues of the day which affect the Mariners in your news reader">
            Forum Feed
           </a>
          </li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="https://forum.thefishy.co.uk/">
          Interactive
          <span class="caret">
          </span>
         </a>
         <ul class="dropdown-menu" role="menu">
          <li role="presentation">
           <a href="https://forum.thefishy.co.uk/Blah.pl" title="THE place to hang out online for the latest news and views">
            Forum
           </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
           <a href="/story.php?id=8503557" title="Our famous 'POM' prediction league">
            Predict-O-Meter
           </a>
          </li>
         </ul>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="/story.php?id=7965070">
          Contact
          <span class="caret">
          </span>
         </a>
         <ul class="dropdown-menu" role="menu">
          <li role="presentation">
           <a href="/submitarticle.php" title="Submit an article to the site publisher">
            Submit an Article
           </a>
          </li>
          <li role="presentation">
           <a href="/contact.php" title="Contact the Fishy">
            Contact Us
           </a>
          </li>
         </ul>
        </li>
       </ul>
       <div class="col-sm-6 col-md-4 pull-right">
        <div class="input-group form-control nav-inverse-colour">
         <script>
          (function() {
                        var cx = 'partner-pub-8888741632944685:5195511283';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                        })();
         </script>
         <gcse:searchbox-only>
         </gcse:searchbox-only>
        </div>
       </div>
      </div>
     </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
     $(document).ready(function(){
		var loc = window.location.pathname;
		$('nav navbar-nav').find('a').each(function() {
		  $(this).toggleClass('active', $(this).attr('href') == loc);
		})});
    </script>
    <div class="story3">
     <ul class="breadcrumb">
      <li>
       <a href="/home.php">
        Home
       </a>
      </li>
      <li>
       <a href="/football-season.php?season=15">
        2017-2018 Season
       </a>
      </li>
      <li>
       <a href="/leaguetable.php?season=15">
        League Tables
       </a>
      </li>
      <li class="active">
       Premier League Table
      </li>
     </ul>
     <div id="menu">
      <ul class="nav nav-pills">
       <li class="current_page_item">
        <a href="/leaguetable.php?table=1&amp;season=15">
         League
        </a>
       </li>
       <li>
        <a href="/formtable.php?table=1&amp;season=15">
         Form
        </a>
       </li>
       <li>
        <a href="/football-results.php?table=1&amp;season=15">

In [10]:
# find table based on class found by inspecting element in web browser
tb = soup.find('table', class_='table table-condensed table-striped table-bordered')

In [48]:
# open context for csv file to store output
with open ('epl_stats.csv', 'w') as r:
    # loop through the rows in the table
    for row in tb.find_all('tr'):
        # find all th elements, which are column names and write to file, separate using comma
        # the comma writing will result in an extra row which will be removed when reading file
        # this can be improved later if time allows
        for cell in row.find_all('th'):
            r.write(cell.text)
            r.write(',')
        # find all td elements, which are cell values and write to file, separate using comma
        for cell in row.find_all('td'):
            r.write(cell.text)
            r.write(',')
        # add line break for each row
        r.write('\n')

In [81]:
# read in the csv file we output above
epl_stats = pd.read_csv('data/epl_stats.csv')
# drop the extra column caused by the extra comma
#epl_stats.drop('Unnamed: 21', axis=1, inplace=True)
# set the index to equal the rank/position of the team
epl_stats.set_index('Pos', inplace=True)

In [102]:
epl_stats.replace('Bournemouth', 'AFC Bournemouth', inplace=True)
# display the results
epl_stats['Position'] = epl_stats.index.values
epl_stats.sort_values('Team')

,Team,P,HW,HD,HL,HF,HA,AW,AD,AL,...,AA,W,D,L,F,A,GD,Pts,PPG,Position
Pos,,,,,,,,,,,,,,,,,,,,,
12,AFC Bournemouth,38,7,5,7,26,30,4,6,9,...,31,11,11,16,45,61,-16,44,1.15,12
6,Arsenal,38,15,2,2,54,20,4,4,11,...,31,19,6,13,74,51,23,63,1.65,6
15,Brighton,38,7,8,4,24,25,2,5,12,...,29,9,13,16,34,54,-20,40,1.05,15
7,Burnley,38,7,5,7,16,17,7,7,5,...,22,14,12,12,36,39,-3,54,1.42,7
5,Chelsea,38,11,4,4,30,16,10,3,6,...,22,21,7,10,62,38,24,70,1.84,5
11,Crystal Palace,38,7,5,7,29,27,4,6,9,...,28,11,11,16,45,55,-10,44,1.15,11
8,Everton,38,10,4,5,28,22,3,6,10,...,36,13,10,15,44,58,-14,49,1.28,8
16,Huddersfield,38,6,5,8,16,25,3,5,11,...,33,9,10,19,28,58,-30,37,0.97,16
9,Leicester,38,7,6,6,25,22,5,5,9,...,38,12,11,15,56,60,-4,47,1.23,9
4,Liverpool,38,12,7,0,45,10,9,5,5,...,28,21,12,5,84,38,46,75,1.97,4
1,Man City,38,16,2,1,61,14,16,2,1,...,13,32,4,2,106,27,79,100,2.63,1
2,Man Utd,38,15,2,2,38,9,10,4,5,...,19,25,6,7,68,28,40,81,2.13,2
10,Newcastle,38,8,4,7,21,17,4,4,11,...,30,12,8,18,39,47,-8,44,1.15,10
17,Southampton,38,4,7,8,20,26,3,8,8,...,30,7,15,16,37,56,-19,36,0.94,17
19,Stoke,38,5,5,9,20,30,2,7,10,...,38,7,12,19,35,68,-33,33,0.86,19
18,Swansea,38,6,3,10,17,24,2,6,11,...,32,8,9,21,28,56,-28,33,0.86,18
3,Tottenham,38,13,4,2,40,16,10,4,5,...,20,23,8,7,74,36,38,77,2.02,3
14,Watford,38,7,6,6,27,31,4,2,13,...,33,11,8,19,44,64,-20,41,1.07,14
20,West Brom,38,3,9,7,21,29,3,4,12,...,27,6,13,19,31,56,-25,31,0.81,20
13,West Ham,38,7,6,6,24,26,3,6,10,...,42,10,12,16,48,68,-20,42,1.10,13

In [8]:
teams = pd.read_csv('data/premier_league_teams.csv', index_col='teamId')

In [84]:
now = epl_stats.Team
later = teams.name
compare = pd.DataFrame(now)
compare.sort_values('Team', inplace=True)
c2 = compare.reset_index()
l1 = pd.DataFrame(later).sort_values('name')
l2 = l1.reset_index()
c3 = c2.Team
l3 = l2.name
c2.index.values
l2.index.values
d = pd.concat([c3,l3], axis=1)

In [103]:
epl_stats2 = epl_stats.merge(d, on='Team')

In [111]:
epl_stats3 = epl_stats2[['name', 'P', 'HW', 'HD', 'HL', 'HF', 'HA', 'AW', 'AD', 'AL', 'AF', 'AA',
       'W', 'D', 'L', 'F', 'A', 'GD', 'Pts', 'PPG', 'Position']]

In [113]:
epl_stats3.set_index('Position', inplace=True)
epl_stats3.head()

,name,P,HW,HD,HL,HF,HA,AW,AD,AL,AF,AA,W,D,L,F,A,GD,Pts,PPG
Position,,,,,,,,,,,,,,,,,,,,
1,Manchester City,38,16,2,1,61,14,16,2,1,45,13,32,4,2,106,27,79,100,2.63
2,Manchester United,38,15,2,2,38,9,10,4,5,30,19,25,6,7,68,28,40,81,2.13
3,Tottenham Hotspur,38,13,4,2,40,16,10,4,5,34,20,23,8,7,74,36,38,77,2.02
4,Liverpool,38,12,7,0,45,10,9,5,5,39,28,21,12,5,84,38,46,75,1.97
5,Chelsea,38,11,4,4,30,16,10,3,6,32,22,21,7,10,62,38,24,70,1.84

In [114]:
epl_stats3.to_csv('data/epl_stats.csv', index=True, header=True)